.event {
    background-color: rgba(0, 0, 0, 0.75);
    border: 2px solid black;
}

.event.defend {
    progress::-webkit-progress-bar {
        background-color: gold;
        border-radius: 0;
    }

    progress::-webkit-progress-value {
        background-color: #f70000;
        border-radius: 0;
    }
}
.event.attack {
    progress::-webkit-progress-bar {
        background-color: #f70000;
        border-radius: 0;
    }

    progress::-webkit-progress-value {
        background-color: gold;
        border-radius: 0;
    }
}

.event.success {
    /* border-left: 10px solid green; */
    background-color: rgba(40, 0, 0, 0.8);
}
.event.fail {
    /* border-left: 10px solid red; */
    background-color: rgba(0, 20, 0, 0.8);
}

.event.active {
    /* border-left: 10px solid gold; */
    border: 2px solid gold;
    animation: timeline-pulse-red 6s infinite alternate;
}

@keyframes timeline-pulse-red {
    0% {
        background-color: rgba(0, 0, 0, 0.75);
    }
    10% {
        background-color: rgba(0, 0, 0, 0.75);
    }

    20% {
        background-color: rgb(200, 0, 0, 0.99);
    }
    25% {
        background-color: rgba(200, 0, 0, 0.66);
    }
    30% {
        background-color: rgb(200, 0, 0, 0.99);
    }
    40% {
        background-color: rgba(0, 0, 0, 0.75);
    }
}
