# PRISMA
POSTGRES_URL="postgresql://username:password@host:port/databasename?schema=public"
# Local: POSTGRES_URL="postgresql://elfensky:supersecretpassword123@127.0.0.1:5432/helldivers1api?schema=public"
# Docker: POSTGRES_URL="postgresql://elfensky:supersecretpassword123@host.docker.internal:5432/helldivers1api?schema=public"

# UPDATE // API key for the update endpoint
UPDATE_KEY="fcb19795-474f-4ff1-aa21-5d36b81167ba" 
UPDATE_INTERVAL="20" # update interval in seconds
# AUTH
AUTH_SECRET="long-random-hexadecimal-string-at-least-32-characters-long-but-ought-to-be-128-characters-long"
# --- Discord Provider
AUTH_DISCORD_ID="0000000000000000000" # can be found in the discord developer portal
AUTH_DISCORD_SECRET="AAAAAAAAAAA_BBBBBBBBBBBBBBBB" # can be found in the discord developer portal
# --- Google Provider
AUTH_GOOGLE_ID="000000000000-aaaaaaaaaaaaaaaaaaaaaa.apps.googleusercontent.com" 
AUTH_GOOGLE_SECRET="GOOGLE-aaaaaaaaaaaaaaa-BLA"