{
    "semi": true,
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 90,
    "plugins": ["prettier-plugin-tailwindcss"],
    "tailwindStylesheet": "./app/layout.css",
    "experimentalTernaries": true
}
