.sector {
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.lost {
    fill: rgba(0, 0, 0, 0.55);
    stroke: rgba(0, 0, 0, 0.99);
    z-index: 10;
}

.captured {
    /* fill: rgba(255, 213, 0, 0.33); */
    fill: var(--region);
    /* stroke: rgba(255, 225, 0, 0.99); */
    stroke: var(--border);
    z-index: 20;
}

.in_progress {
    stroke: rgba(255, 225, 0, 0.99);
    z-index: 30;
}

#bugs .in_progress {
    fill: rgba(25, 218, 12, 0.35);
}

#cyborgs .in_progress {
    fill: rgba(213, 15, 15, 0.35);
}

#illuminate .in_progress {
    fill: rgba(12, 122, 218, 0.35);
}

/* #bugs .in_progress,
#cyborgs .in_progress,
#illuminate .in_progress, */
#bugs .active,
#cyborgs .active,
#illuminate .active {
    /* fill: rgba(255, 213, 0, 0.33); */
    /* stroke: rgba(255, 0, 0, 0.99); */

    animation: map-pulse-red 3s infinite alternate;
}

@keyframes map-pulse-red {
    0% {
        stroke: rgba(255, 225, 0, 0.99);
        stroke-width: 2px;
        fill: red;
    }

    10% {
        stroke: rgba(255, 225, 0, 0.99);
        stroke-width: 2px;
    }

    20% {
        stroke: rgba(255, 0, 0, 0.99);
        stroke-width: 4px;
    }

    25% {
        stroke: rgba(255, 0, 0, 0.66);
        stroke-width: 4px;
    }

    30% {
        stroke: rgba(255, 0, 0, 0.99);
        stroke-width: 4px;
    }

    40% {
        stroke: rgba(255, 225, 0, 0.99);
        stroke-width: 2px;
    }
}
