@import 'tailwindcss';

@theme {
    --breakpoint-3xl: 1920px;
}

/* :root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
        --dark: hsla(0, 0%, 10%, 1);
    }
} */

:root {
    /* COLORS */
    --orange: hsl(42, 81%, 50%); /* checlboxe and variables in text */
    --blue: #0095a8; /* accent stuff */
    --black: rgba(0, 9, 19, 1);

    /* MAP */
    --border: rgba(255, 225, 0, 0.99); /* map region border(s) */
    --region: rgba(255, 213, 0, 0.33); /* map region fill */
    --cyborgs: rgba(213, 15, 15, 0.35);
    --bugs: rgba(25, 218, 12, 0.35);
    --illuminate: rgba(12, 122, 218, 0.35);

    /* TEXT */
    --text: hsl(0, 0%, 80%); /* active text */
    --inactive: hsl(0, 0%, 46%); /* inactive text */

    /* GRADIENTS */
    --gradient-horizontal: linear-gradient(to right, #262427, #49494b, #262427);
    --gradient-vertical: linear-gradient(to right, #262427, #49494b, #262427);

    /* BACKGROUND */
    --background: hsla(60, 8%, 10%, 0.7);
}

@font-face {
    font-family: 'Insignia';
    src: url('/fonts/insignia.regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.gutters {
    @apply mx-4 sm:mx-12 lg:mx-24;
    /* ml-4 mr-4 sm:ml-12 sm:mr-12 lg:ml-24 lg:mr-24 */
}
.gutters--left {
    @apply ml-4 sm:ml-12 lg:ml-24;
}
.gutters--right {
    @apply mr-4 sm:mr-12 lg:mr-24;
}

.p-gutters {
    @apply px-4 sm:px-12 lg:px-24;
}
.p-gutters--left {
    @apply pl-4 sm:pl-12 lg:pl-24;
}
.p-gutters--right {
    @apply pr-4 sm:pr-12 lg:pr-24;
}

.spacer {
    @apply w-4 sm:w-12 lg:w-24;
}

html,
body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--black);
    color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply flex flex-col sm:block;
    font-family: 'Insignia', 'Impact', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
}

h2 {
    @apply mb-6;
}

section {
    @apply rounded-md p-2 md:p-4;
}
.card {
    @apply bg-slate-800 opacity-90;
}

p {
    @apply mb-4;
}

/* BACKGROUND OF PROGRESS */
progress {
    background: #ff0000;
}

progress::-webkit-progress-bar {
    background: #ff0000;
}

/* THE ACTUAL PROGRESS */
progress::-moz-progress-bar {
    background: #ffd700;
}

progress::-webkit-progress-value {
    background: #ffd700;
}

footer {
    background-color: var(--black);
}
