@import 'tailwindcss';

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Insignia', 'Impact', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

/* h1,
h2 {
    @apply flex text-[1.25rem] md:text-2xl lg:text-3xl;
} */

[data-wings='true']::before {
    @apply w-[3.5rem] sm:w-[4rem] lg:w-[5.5rem];
}
[data-wings='true']::after {
    @apply w-[3.5rem] sm:w-[4rem] lg:w-[5.5rem];
}
[data-wings='true'] {
    &::before,
    &::after {
        @apply bg-contain bg-top bg-no-repeat;
        margin-top: 0.4rem;
        content: '';
        display: block;
    }

    &::before {
        background-image: url('/icons/wings.webp');
        margin-right: 0.333rem;
    }
    &&::after {
        background-image: url('/icons/wings.webp');
        transform: scaleX(-1);
        margin-left: 0.333rem;
    }
}

/* h2 {
    &::before,
    &::after {
        @apply bg-contain bg-top bg-no-repeat;
        margin-top: 0.4rem;
        content: '';
    }

    &::before {
        background-image: url('/icons/wings.webp');
        margin-right: 0.333rem;
    }
    &&::after {
        background-image: url('/icons/wings.webp');
        transform: scaleX(-1);
        margin-left: 0.333rem;
    }
} */

/* h3,
h4,
h5,
h6 {
    @apply text-2xl;
} */
